<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Dennis Vuong\Documents\NetBeansProjects\36B Final\dist\36B_Final.jar</jar>
  <outfile>C:\Users\Dennis Vuong\Documents\NetBeansProjects\36B Final\Burger Place Self Serve.exe</outfile>
  <errTitle>Error running program</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Dennis Vuong\Documents\NetBeansProjects\36B Final\burger_logo_icon.ico</icon>
  <singleInstance>
    <mutexName>Burger Place Self Serve</mutexName>
    <windowTitle></windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>